@import "reset.css";

[data-theme="light"] {
    --bg: #FFFFFF;
    --font: #3c4043;
    --submit: #E4ECFA;
    --submit-hover: #D6DDEA;
    --delete-a: #FF0000;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --search: #ECF1FD;
    --search-font: #202021;
}

[data-theme="dark"] {
    --bg: #202124;
    --font: #dadce0;
    --submit: #3C4043;
    --submit-hover: #4B4F52;
    --delete-a: #DD0000;
    --box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
    --search: #262a33;
    --search-font: #e0e2e5;
}

body {
    /*background: rgba(240,240,240);*/
    background: var(--bg);
    min-width: 300px;
}

#contain { 
    max-width: 1000px;
    color: var(--font);
    margin: auto;
}

nav {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#bloganium {
    font-size: 2rem;
    text-decoration-line: none;
}

nav a {
    color: var(--font);
    font-size: 1.2em;
}


nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

nav button {
    padding: 10px 15px;
    border-radius: 40px;
    cursor: pointer;
    background: var(--submit);
    border: solid 1px var(--submit-border);
    color: var(--submit-font);
}

nav button:hover {
    background: var(--submit-hover);
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
}

h5 {
    font-size: 0.9rem;
}

#blog {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

input[type=text],
textarea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

textarea {
    height: 500px;
    resize: none;
}

#blog article {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

#blog article a {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font);
    text-decoration-line: none;
    width: 100%;
}

#blog article > a {
    padding: 10px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

#blog article > a:hover {
    box-shadow: var(--box-shadow);
}

#blog article p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.1;
}

#blog article > div a {
    margin-bottom: 10px;
}

#blog .delete_article {
    color: var(--delete-a);
    text-decoration-line: underline;
}

#blog .edit_article {
    text-decoration-line: underline;
}


input[type=submit] {
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-family: system-ui, "Segoe UI", sans-serif;
    font-size: 100%;
    height: 44px;
    line-height: 1.15;
    padding: 0 25px;
}

.button {
    background-color: #405cf5;
    transition: all 0.3s;
}

.button:hover {
    background-color: #0027fb;
}


.button-delete {
    background-color: #f54040;
    transition: all 0.3s;
}

.button-delete:hover {
    background-color: #f00;
}

.p-delete {
    font-size: 1.3rem;
}

.form-delete-post {
    width: auto;
    align-items: center;
}

#blog #view-article {
    display: block;
}

#blog #view-article p {
    margin: 1.3rem 0;
    font-size: 1.2rem;
    line-height: 1.3;
}

#view-action {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    font-size: 1.1rem;
}

#view-action a {
    color: var(--font);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    margin: 25px 0;
}

.pagination a {
    color: var(--font);
    margin: 0 10px;
    padding: 10px;
    border-radius: 5px;
}

.pagination a:hover {
    box-shadow: var(--box-shadow);
}


#search {
    display: flex;
    flex-direction: row;
}

#id_search {
    padding: 15px;
    width: 100%;
    border-radius: 40px;
    border: none;
    font-size: 1.1em;
    background: var(--search);
    color: var(--search-font)
}

button {
    padding: 10px 15px;
    border-radius: 40px;
    cursor: pointer;
    background: var(--submit);
    border: solid 1px var(--submit-border);
    color: var(--submit-font);
}

button:hover {
    background: var(--submit-hover);
}

@media (max-width: 1024px) {
    #blog article {
        width: 100%;
    }

    #contain {
        margin: 1rem;
    }
}
